@use './palette' as *;
@import '~bootstrap/scss/bootstrap';



header {

    .container {

        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar {
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: bold;

            a {
                padding: 1rem;
                text-decoration: none;
                color: $dark;
                padding-bottom: 3.6rem;

                &:hover {
                    color: $primary_color;
                    border-bottom: 4px solid $primary_color;
                }
            }

            .active {
                color: $primary_color;
                border-bottom: 4px solid $primary_color;
            }


        }

        .search {
            input {
                border: none;
                border-bottom: 2px solid $primary_color;
                text-align: end;
            }
        }
    }
}

// jumbotron

main {
    .jumbotron {
        height: 350px;
        width: 100%;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

        .current {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $light;
            background-color: $primary_color;
            position: absolute;
            padding: 0.5rem 1rem;
            font-weight: bold;
            bottom: -17px;
            left: 10rem;
        }
    }
}

//main

main {
    background-color: $secondary_color;

    .load {
        text-align: center;
        padding: 4rem 0;

        a {
            text-transform: uppercase;
            color: $light;
            background-color: $primary_color;
            padding: 0.5rem 3rem;
            font-weight: bold;
            cursor: pointer;

        }
    }
}

// cards style

main {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 0;


        .my_card {

            .card_image {
                width: 200px;
                aspect-ratio: 1;
                padding: 0.5rem;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    cursor: pointer;

                    &:hover {
                        filter: opacity(40%);
                    }
                }
            }

            .card_title {
                color: white;
                text-transform: uppercase;
                font-size: 0.75rem;
                padding: 0.5rem;

            }
        }
    }
}

footer {


    .header_footer {
        background-color: $primary_color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1rem;
        z-index: 99;
        position: relative;

        img {
            width: 50px;
            padding: 0.25rem;
        }

        div {
            display: flex;
            align-items: center;
            margin: 1rem;
        }
    }

    .main_footer {
        padding: 3rem 0;
        background-image: url(../images/footer-bg.jpg);

        .container {
            position: relative;

            .logo_bg {
                position: absolute;
                right: 1rem;
                top: -10rem;
                bottom: -10rem;

                img {

                    height: 600px;
                }
            }

            .content {
                width: 30%;
                display: flex;
                gap: 1rem;

                .footer_title {
                    padding: 0.5rem 0;
                    color: $light;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                .footer_link {
                    font-size: 0.75rem;
                    color: $dark-light;
                    display: block;
                    text-decoration: none;
                    padding: 0.25rem 0;
                }
            }
        }
    }

    .footer_footer {
        background-color: $secondary_color;
        z-index: 99;
        position: relative;
        text-transform: uppercase;
        padding: 2rem 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 0.5rem;
                border: 2px solid $primary_color;
                background-color: transparent;
                text-transform: uppercase;
                color: $light;
            }

            .social {
                display: flex;
                gap: 1rem;
                align-items: center;

                span {
                    color: $primary_color;
                    font-weight: bold;
                }

                div {
                    background-color: $dark-light;
                    text-align: center;
                    padding: 0.5rem;
                    height: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                }
            }
        }
    }
}